@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/*main syle*/
html,
body{
    font-family: 'Montserrat', sans-serif;
   
}


h1 {font-size:40px;}
h2 {font-size:32px;}
h3 {font-size:28px;}
h4 {font-size:24px;}
h5 {font-size:20px;}
h6 {font-size:16px;}
p {
    font-size: 16px;
    line-height: 1.7en;
    margin: 10px 0;
}
a {
    text-decoration: none;
}
#navbar {
    position: fixed;
    background-color:#FFA819;
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
}
ul{
    list-style: none;
    text-transform: uppercase;
    padding: 20px 

    
}
li{
    float: left;
    padding: 2px 5px;
    font-family: 'Montserrat';
    font-style: bold;
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
    margin: 0 10px;
}
a{
    display: block;
    color:black;
}

.contenedornav{
    display: flex;
    justify-content:center;
}

#contacto{
    
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

}

#contacto h3{
padding-bottom: 100px;
text-align: center;
display: flex;
justify-content: center;
width: 100vmax;


}
.contenedormetodos{
    gap: 64px;
    display: flex;
    justify-content: center;
    width: 100vmax;
}

.contenedor{
    background: color #FFFFFF;
    box-sizing: content-box;
    width: 341px;
height: 436px;
box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.25);
border-radius: 15px;
display: flex;
flex-direction: column;
justify-content: space-between;
padding: 50px 50px;
}

.icono{
    width: 52px;
height: 52px;
}

.iconos{
    display: flex;
    gap: 30px;
    justify-content: center;
}

.btn{
    background: #0085FF;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    padding: 10px 5px;
    cursor: pointer;
    letter-spacing: 1px;
    border-radius: 44px;
}
.direccion{
    display: inline-block;
    font-size: 15px;
    padding: 10px 5px;
    letter-spacing: 1px;
    border: 1px solid #000000;
    border-radius: 44px;
}
.titulos{
    font-family: 'Montserrat';
font-style: italic;
font-weight: 800;
font-size: 32px;
line-height: 39px;
}