@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/*main syle*/
html,
body{
    font-family: 'Montserrat', sans-serif;
   
}


h1 {font-size:40px;}
h2 {font-size:32px;}
h3 {font-size:28px;}
h4 {font-size:24px;}
h5 {font-size:20px;}
h6 {font-size:16px;}
p {
    font-size: 16px;
    line-height: 1.7en;
    margin: 10px 0;
}
a {
    text-decoration: none;
}
/*utility classes*/
.portada{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100vmax;
 }
.contenedor-textos {
    height: 100%;
    align-items: center;
float: left;
width: 50%;
}
.eve-foto{
    float: right;
    width: 40%;
}
.fotoeve{
}



.titulo {
    
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 600;
    font-size: 96px;
    line-height: 117px;
    color: #102C45;
    padding: 30px 0px;
}

/*cabecera*/
/*#cabecera {
background-image: url(illustraciones/Group6.png);
background-repeat: no-repeat;
background-size: cover;
background-position: right;
height: 100vh;
padding-left: 50px;
display:flex;
width: 100vmax;
top: 50px;
}
/*.evefoto {
    position: absolute;
    top: 0px;
    right: 0px;
    
}*/

.btn{
    background: #0085FF;
    color: #fff;
    display: inline-block;
    font-size: 25px;
    padding: 12px 23px;
    cursor: pointer;
    letter-spacing: 1px;
    border-radius: 4px;

}

.btn-menu{
    display: none;
    
}

#cabecera label{
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
}
#cabecera label:hover{
    cursor: pointer;
}








#navbar {
    position: fixed;
    background-color:#FFA819;
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
}
ul{
    list-style: none;
    text-transform: uppercase;
    padding: 20px 

    
}
li{
    float: left;
    padding: 2px 5px;
    font-family: 'Montserrat';
    font-style: bold;
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
    margin: 0 10px;
}
a{
    display: block;
    color:#fff;
}

.contenedornav{
    display: flex;
    justify-content:center;
}
/* final de head*/

#pasos {
    padding-top: 10px;
    padding-bottom: 100px;
    text-align: center;
}

.lospasos {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    width: 100vmax;
    padding-right: 50px;

}
.paso {
    float:left;
    /*width: 20%;*/
    background: #0085FF;
    color: #fff;
    border-radius: 5px;
    margin-left: 50px;
    padding: 20px 20px;
    box-sizing: content-box;
    width: 150px;
}
#pasos h4{
    padding-bottom: 20px;
}
/*final pasos*/

/*quien soy*/
#quien-soy{
    padding-bottom: 100px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 24px;

    
}
.contenedor-soy { 
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    width: 100vmax;
    float: left;

}
.quiensoy{
    float: left;
    width: 20%;
    padding-top: 20px;
    padding-right: 0px;
    min-width: 200px;
    


}
.quiensoyimg{
    float: right;
padding-left: 30px;
}
.quiensoyimg img{
    width: 100%;
    max-width: 250px;
}
#quien-soy h3{
    color: #FFA819;
}
/* termina quien soy*/

/* yo te ayudo*/

#ayudo{
    display: flex;
    height: 200px;
    width: 100vmax;
    background:#FFA819;
    justify-content: center;
    color: #fff;
    align-items: center;
}

.teayudo{
float: left;
width: 60%;
padding-top: 0px;
padding-right: 0px;
min-width: 200px;
max-width: 800px;
padding-left: 30px;
}

.imgayudo{
    float: right;
padding-top: 15px;
}
.imgayudo img{

    max-width: 270px;
}

/*cursos*/


.cuadrocursos{
    padding-top: 50px;
    padding-bottom: 60px;
    
}
.contenedorgeneral{
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100vmax;
    
}

.cuadrocursos h3{
    padding-top: 25px;
    padding-bottom: 50px;
    color: #FFA819;
display: flex;
place-content: center;
width: 100vmax;
}
.contenedorcurso{
    float: left;
    background:#FFA819;
    color: #fff;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px 20px;
    box-sizing: content-box;
    width: 200px;
    height: 400px;
}
/*profesiona*/
.imgp{
    padding-top: 30px;
width: 30%;}

.profesional{
    padding-top: 50px;
    padding-bottom: 20px;
}

.pprofesional{
    padding-bottom: 50px;
}
.pbtn{
    background:#fff;
    color:black;
    display: inline-block;
    font-size: 25px;
    padding: 6px 23px;
    cursor: pointer;
    letter-spacing: 1px;
    border-radius: 30px;
    font-family: 'Montserrat';
font-style: italic;
font-weight: 600;
line-height: 50px;
}
/*ventas*/
.imgv{
    padding-top: 30px;
width: 30%;}

.ventas{
    padding-top: 40px;
    padding-bottom: 20px;
}

.pventas{
    padding-bottom: 53px;
}
.vbtn{
    background:#fff;
    color:black;
    display: inline-block;
    font-size: 25px;
    padding: 6px 23px;
    cursor: pointer;
    letter-spacing: 1px;
    border-radius: 30px;
    font-family: 'Montserrat';
font-style: italic;
font-weight: 600;
line-height: 50px;
}
/*upgrade*/
.imgu{
    padding-top: 20px;
width: 25%;}

.upgrade{
    padding-top: 25px;
    padding-bottom: 17px;
}

.pupgrade{
    padding-bottom: 30px;
}
.ubtn{
    background:#fff;
    color:black;
    display: inline-block;
    font-size: 25px;
    padding: 6px 23px;
    cursor: pointer;
    letter-spacing: 1px;
    border-radius: 30px;
    font-family: 'Montserrat';
font-style: italic;
font-weight: 600;
line-height: 50px;
}
#principalfooter{
    display: flex;
    width: 100vmax;
    font-family: 'Montserrat';
font-style: italic;
font-weight: 600;
font-size: 36px;
line-height: 50px;
height: 50px;
    width: 100vmax;
    background:#000000;
    justify-content: center;
    color:rgb(255, 255, 255);
}